:root {
    --primary-color: #2980b9;
    --hover-color: #3498db;
    --alert-border-color: #2980b9;
    --alert-bg-color: #ecf0f1;
    --text-color: #333;
    --background-color: #f5f5f5;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

.stButton button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.stButton button:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

.stButton button:focus {
    outline: 2px solid var(--hover-color);
    outline-offset: 2px;
}

.stFileUploader label {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.stFileUploader label:hover {
    background-color: var(--hover-color);
}

.stAlert {
    border: 1px solid var(--alert-border-color);
    background-color: var(--alert-bg-color);
    color: var(--alert-border-color);
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s;
}

.stDataFrame {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.stDataFrame:hover {
    transform: scale(1.02);
}

.loading {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--primary-color);
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 24px; /* Adjust font size for mobile */
    }

    .stButton button {
        padding: 8px 16px; /* Adjust padding for buttons */
    }
}
